.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

    .card {
      display: flex;
      flex-flow: column;
      align-items: center;
      
      .card-image {
        width: 400px;
      }
    }
  }
  