.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: lightgreen;
  .title {
    color: forestgreen;
    font-size: 40px;
    font-weight: bold;
  }
  .cart {
    color: green;
    font-size: 30px;
  }
}
