.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff9f2;
  background-image: linear-gradient(175deg, #fff9f2 0%, #fbab7e 100%);

  .logo {
    .image-logo {
      width: 35px;
    }
  }

  a {
    text-decoration: none;
  }

  .cart {
    display: flex;
    flex-flow: row;
    align-items: center;

    .cart-logo {
      height: 35px;
      padding-right: 10px;
    }
    .cart-counter {
      text-decoration: none;
      color: #a30b37;
      align-self: center;
    }
  }
}
