.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: lightgreen;
  .logo {
    .image-logo {
      width: 100px;
    }
  }
  .cart {
    color: green;
    font-size: 30px;
  }
}
