.cart-cards {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: #fff9f2;
  box-shadow: inset #fbab7e 0px 0px 100px -60px;
  margin: 30px 100px;
}
